html, body {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, Verdana, sans-serif;
    font-size: 12px;
    color: #666666;
    background: #fff;
}

h1 {
    margin: 0;
    padding: 0;
    float:right;
    margin-top: 57px;
    padding-right: 31px;
}

body.about ul li#about,
body.about ul li#about a,
body.services ul li#services,
body.services ul li#services a,
body.portfolio ul li#portfolio,
body.portfolio ul li#portfolio a,
body.contact ul li#contact,
body.contact ul li#contact a {
	background-position: 0 -100px;
}

.hidden {
    display: none;
}

#page-container {
    width: 760px;
    margin: auto;
    /*background: purple;*/
}

#main-nav {
    height: 50px;
    padding-left: 11px;
    /*background: red;*/
}

#main-nav ul {
    margin: 0;
    padding: 0;
    /*background: red;*/
}

#main-nav ul li {
    float: left;
}

#main-nav ul li a {
    display: block;
    height: 0 !important;
    padding: 50px 0 0 0;
    overflow: hidden;
    background-repeat: no-repeat;
}

#main-nav ul li a:hover {
    background-position: 0 -50px;
}

#main-nav ul li#about,
#main-nav ul li#about a { width: 71px; background-image: url(../images/nav/about.gif); }

#main-nav ul li#services,
#main-nav ul li#services a { width: 84px; background-image: url(../images/nav/services.gif); }

#main-nav ul li#portfolio,
#main-nav ul li#portfolio a { width: 95px; background-image: url(../images/nav/portfolio.gif); }

#main-nav ul li#contact,
#main-nav ul li#contact a { width: 106px; background-image: url(../images/nav/contact.gif); }

#header {
    height: 150px;
    background: #db6d16 url(../images/about.jpg);
    /*background: blue;*/
}

#sidebar-a {
    float: right;
    width: 280px;
    line-height: 18px;
    /*background: darkgreen;*/
}

#sidebar-a .padding {
    padding: 25px;
}

#content {
    margin-right: 280px;
    line-height: 18px;
    /*background: green;*/
}

#content h2, p {
    margin: 0;
    padding: 0;
    padding-bottom: 15px;
}

#content .padding {
    padding: 25px;
}

#footer {
    clear: both;
    /*height: 66px;*/
    font-family: Tahoma, Arial, Helvetica, sans-serif;
    font-size: 10px;
    color: #c9c9c9;
    border-top: 1px solid #efefef;
    padding: 13px 25px;
    line-height: 18px;
    /*background: orange;*/
}

#footer a {
    color: #c9c9c9;
    text-decoration: none;
}

#footer a:hover {
    color: #db6d16;
}

#footer #altnav {
    float:right;
    width: 320px;
    text-align: right;
}